<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>TviTTER</h1>
    <form action="/upload_video/" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        Status :  <input type="text" name="tweet" id="" value="" /> <br/>
        Video File :  <input type="file" name="video_file" id="" value="" /> <br/>
        <input type = "submit" value = "Update status">
        
    </form>
    <br/><br/>
    <a href = "/">Home</a>
</body>
</html>
