<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Format Error</title>
</head>
<body>
    Invalid Video Format.<br/>
    Make  sure your video follows the following criteria : <br/><br/>
    <ul>
        <li>Duration should be between 0.5 seconds and 30 seconds</li>
        <li>Dimensions should be between 32x32 and 1280x1024</li>
        <li>Aspect ratio should be between 1:3 and 3:1</li>
        <li> Frame rate should be 40fps or less</li>
    </ul>
</body>
</html>
